127.0.0.1       localhost
10.0.15.10  k8s-master.local   k8s-master
10.0.15.21 node01.local  node01
10.0.15.22 node02.local  node02

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
